body {
    background-color: white;
}

.article-clean .text p {
    margin-bottom: 20px;
    line-height: 1.45;
}

.highlight-clean {
    color: #313437;
    background-color: #fff;
    padding: 50px 0;
}

.highlight-clean p {
    color: #2b404d;
}

.highlight-clean .buttons {
    text-align: center;
}

.highlight-clean .buttons .btn {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none;
    background-color: #17a2b8;
}