{% extends "layout.html" %}
{% block content %}

<h1>Ingreso</h1>
<form action="/loginuser" method="POST">
    <label>Email</label>
    <input class="form-control" name="email" type="email">
    <label>Contraseña</label>
    <input class="form-control" name="pass" type="password">
    <button
        class="btn btn-primary flex-row flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center align-self-start flex-nowrap order-1 justify-content-xl-center"
        type="submit" style="margin-top: 19px;">iniciar sesiÓn</button></form>

{% endblock %}