{% extends "layout.html" %} {% block content %}

<h1>Ingreso</h1>
<form action="/loginuser" method="POST">
    <label>Email</label>
    <input class="form-control" name="email" type="email">
    <label>Contraseña</label>
    <input class="form-control" name="pass" type="password">
    <p style="color:red;" id="error"></p>
    <button class="btn btn-primary flex-row flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center align-self-start flex-nowrap order-1 justify-content-xl-center" type="submit" style="margin-top: 19px;">Iniciar Sesión</button></form>

<script>
    const parametrosurl = new URLSearchParams(window.location.search);
    const error = parametrosurl.get('err');
    if (error == "notexisting") {
        document.getElementById("error").innerText = "Ese usuario no existe";
    } else if (error == "incorrectpass") {
        document.getElementById("error").innerText = "Contraseña incorrecta!";

    }
</script>
{% endblock %}