{% extends "layout.html" %}
{% block content %}
<h1>Registro</h1>
<form action="/registeruser" method="POST">
    <label>Nombre</label>
    <input class="form-control" name="nombre" type="text" required>
    <label>Apellido</label>
    <input class="form-control" name="apellido"  type="text" required>
    <label>Email</label>
    <input class="form-control" name="email"  type="email" required>
    <label>Contraseña</label>
    <input class="form-control"  name="pass" type="password" required>
    
    <button
        class="btn btn-primary flex-row flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center align-self-start flex-nowrap order-1 justify-content-xl-center"
        type="submit" style="margin-top: 19px;">REGISTRARSE</button>
</form>

{% endblock %}